div {
    background: linear-gradient(to bottom, red, #373737);
    width: 100%;
    height: 900px;
}

h1 {
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 3px 3px black;
    animation: expanded-text 2s 1s 4 alternate;
}

@keyframes expanded-text {
    from {
        font-size: 60px;
    }
    to {
        font-size: 160px;
    }
}

h3 {
    text-align: center;
    font-size: 40px;
    text-shadow: 3px 1px #373737;
}

p {
    text-align: center;
    font-size: 25px;
    border-bottom-style: dotted;
    border-width: thick;
    transition: ease-in 2s;
}

img{
    position: center;
    transform: rotate(-90deg) translate(-250px, 800px);
}

p:hover {
    transform: rotate(360deg);
}